<div class="title-confirmation-container">
  <h1>Appointment Confirmation</h1>
</div>
<div class="appointments-container">
  <h3><%= @appointment.seller.name%></h3>
  <h3><%= @appointment.seller.phone%></h3>
  <h3><%= @appointment.date%></h3>
  <h3><%= @appointment.timeslot%></h3>
</div>
<div class="title-confirmation-container">
  <h1> Your new realtor </h1>
</div>
<div class="appointments-container">
  <h3><%= @appointment.realtor.name %></h3>
</div>
